body {
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 220px;
    background-color:azure;
    padding: 20px;
    margin-left: 10px;
    list-style: none;
}
ul li{
    color: white;
    background: rgb(169, 169, 185);
    padding: 10px;
    border: 1px solid white
}